.App {
  text-align: center;
}

.home-component {
  border: 1px solid black;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  height: 270px;
  border-radius: 50%;
}

img {
  margin: 2px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
